.VisitModal {
	background: #ffcd06;
}
.services-carousel {
	background: #fcd772;
}

slick-prev {
	z-index: 1;
	color: black !important;
}
.slick-next {
	color: black !important;
	z-index: 1;
}
.slick-prev:before,
.slick-next:before {
	color: #000;
}

.silck-services .slick-slide {
	/* line-height: 300%; */
	vertical-align: middle;
}

/* .service-list {
	border: 1px solid #393a3b;
	border-radius: 5px;
	padding-left: 5px !important;
}
.service-list p {
	font-size: 10px;
}
.service-list img {
	width: 50%;
} */

.service-list img {
	width: 80%;
}

.custom-servicee {
	background: #d6d6d6;
	border-radius: 30px;
	border: 3px solid #d6d6d6;
}
.customServiceSelect {
	border: 3px solid #ffcd06;
}

/* Slots */
.slot-default {
	border: 1px solid #ffcd06;
	color: #ffcd06;
	border-radius: 5px;
	outline: none !important;
}
.slot-select {
	border: 1px solid #ffcd06;
	background: #ffcd06;
	color: #232323;
	outline: none !important;
}
.slot-reserved {
	border: 1px solid #232323;
	background: #232323;
	color: #ffcd06;
	outline: none !important;
}

@media screen and (min-width: 1024px) {
	.VisitModal{
		height: 100%;
	}	
}

@media screen and (max-width: 550px) {
	.VisitModal{
		height: 70%;
	}	
}
